@import './variables.scss';

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-size: $font-size;
  color: $text-dark-2;
}

h2 {
  padding: 15px;
  font-size: 15px;
  font-weight: bold;
  color: $text-dark-1;
}

h4 {
  font-size: $font-size;
  font-weight: bold;
  color: $text-dark-1;
}

input, textarea, button {
  font-family: $font-family;
  font-size: $font-size;
}

input, textarea {
  color: $text-dark-2;
}

label {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
  color: $text-dark-1;
}

input {
  display: block;
  margin-bottom: 15px;
  padding: 8px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid $border-color;

  &:focus {
    outline: none;
    box-shadow: 0 0 5px $blue;
  }
}

button {
  padding: 8px;
  background-color: $blue;
  color: $text-light;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

#root {
  height: 100%;
}

.App {
  margin: 0 auto;
  width: $app-width;
  height: 100%;
  font-family: $font-family;
}