@import './variables.scss';

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  line-height: normal;
  font-size: $font-size;
  color: $text-dark-2;
}

h1 {
  margin-bottom: 15px;
  font-size: 25px;
  font-weight: bold;
  color: $text-dark-1;
}

h2, h4, h5 {
  font-weight: bold;
  color: $text-dark-1;
}

h2 {
  padding: 15px;
  font-size: 15px;
}

h4, h5 {
  font-size: $font-size;
}

h4 {
  margin-bottom: 6px;
}

h5 {
  margin-bottom: 5px;
}

input, textarea, button {
  font-family: $font-family;
  font-size: $font-size;
}

input, textarea {
  &::placeholder {
    color: $text-dark-3;
  }
}

label {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
  color: $text-dark-1;
}

input {
  display: block;
  margin-bottom: 15px;
  padding: 8px;
  width: 100%;
  color: $text-dark-1;
  border-radius: 5px;
  border: 1px solid $border-color;

  &:focus {
    outline: none;
    box-shadow: 0 0 5px $blue;

    &.shadow-yellow {
      box-shadow: 0 0 5px $yellow;
    }
    
    &.shadow-green {
      box-shadow: 0 0 5px $green;
    }
    
    &.shadow-red {
      box-shadow: 0 0 5px $red;
    }
    
    &.shadow-blue {
      box-shadow: 0 0 5px $blue;
    }
    
    &.shadow-orange {
      box-shadow: 0 0 5px $orange;
    }
    
    &.shadow-wine {
      box-shadow: 0 0 5px $wine;
    }
    
    &.shadow-purple {
      box-shadow: 0 0 5px $purple;
    }
  }
}

textarea {
  color: $text-dark-2;
}

button {
  padding: 8px;
  color: $text-light;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

#root {
  height: 100%;
}

.App {
  display: flex;
  margin: 0 auto;
  width: $app-width;
  height: 100%;
  font-family: $font-family;
}

.bg-app-green {
  background-color: $app-green;
}

.bg-white {
  background-color: #fff;
}

.bg-gray {
  background-color: $gray;
}

.bg-yellow {
  background-color: $yellow;
}

.bg-green {
  background-color: $green;
}

.bg-red {
  background-color: $red;
}

.bg-blue {
  background-color: $blue;
}

.bg-orange {
  background-color: $orange;
}

.bg-wine {
  background-color: $wine;
}

.bg-purple {
  background-color: $purple;
}

.bg-success {
  background-color: $success;
}

.bg-danger {
  background-color: $danger;
}