@import './variables.scss';

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-size: 12px;
  color: $text-dark-2;
}

h2 {
  padding: 15px;
  font-size: 15px;
  font-weight: bold;
  color: $text-dark-1;
}

h4 {
  font-size: 13px;
  font-weight: bold;
  color: $text-dark-1;
}

#root {
  height: 100%;
}

.App {
  margin: 0 auto;
  width: $app-width;
  height: 100%;
  font-family: 'Helvetica Neue';
}