$app-width: 996px;

$col-size: calc(#{$app-width} / 12);

$font-family: 'Helvetica Neue';
$font-size: 13px;

$default-color: #AAA;
$yellow: #D9BE5D;
$green: #9AC099;
$red: #CE6163;
$blue: #75AEBF;
$orange: #D8905A;
$danger: #D9534F;

$app-green: #23B873;

$text-light: #F5F5F5;
$text-dark-1: #393939;
$text-dark-2: #707070;
$text-dark-3: #ACACAC;

$border-color: #E0E0E0;

$active-color: rgba(0, 0, 0, 0.1);