@import '../../variables.scss';

.FriendsList {
  margin-top: 5px;
  
  .no-friends {
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 15px;

    span {
      color: $link-color;
      cursor: pointer;
    }
  }
}