@import '../../variables.scss';

$padding: 15px;

.FriendsSearch {
  position: relative;
  padding: $padding;

  input {
    margin-bottom: 0;
  }

  .results {
    position: absolute;
    width: calc(100% - 2 * #{$padding});
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid $border-color;

    .found-friend {
      display: flex;
      align-items: center;
      padding: 10px;
      cursor: pointer;

      &:hover {
        background-color: rgba(238, 238, 238, 1);
      }

      .content {
        flex: 1;
        margin-right: 10px;
        margin-left: 10px;

        .username {
          margin-top: 5px;
          color: $text-dark-3;
        }
      }

      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
}