@import '../../variables.scss';

$padding: 15px;

.FriendsSearch {
  position: relative;
  padding: $padding;

  input {
    margin-bottom: 0;
  }

  .results {
    position: absolute;
    width: calc(100% - 2 * #{$padding});
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid $border-color;
    z-index: 1;
    max-height: 280px;
    overflow-y: scroll;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);

    .found-friend {
      display: flex;
      align-items: center;
      padding: 10px;

      &:hover {
        background-color: rgba(238, 238, 238, 1);
      }

      .content {
        flex: 1;
        margin-right: 10px;
        margin-left: 10px;
        overflow-x: hidden;
        white-space: nowrap;

        h5, .username {
          overflow-x: hidden;
          text-overflow: ellipsis;
        }

        .username {
          color: $text-dark-3;
        }
      }
    }
  }
}