@import '../../variables.scss';

.Avatar {
  display: flex;
  align-items: center;
  border-radius: 50%;
  text-align: center;

  span {
    width: 63px;
    height: 63px;
    line-height: 63px;
    font-size: 23px;
    color: $text-light;

    &.sm {
      width: 32px;
      height: 32px;
      line-height: 32px;
      font-size: 12px;
    }
  
    &.md {
      width: 40px;
      height: 40px;
      line-height: 40px;
      font-size: 16px;
    }
  
    &.lg {
      width: 48px;
      height: 48px;
      line-height: 48px;
      font-size: 20px;
    }
  }
}