@import '../../variables.scss';

$border-radius-small: 5px;

.Message {
  position: relative;
  display: flex;
  align-items: flex-end;
  margin-top: 1px;
  padding: 0 25px;

  .text {
    margin: 0 10px;
    padding: 10px 15px;
    border-radius: 20px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.16);
    cursor: default;

    &:hover {
      + .time {
        opacity: 1;
      }
    }
  }

  .time {
    align-self: center;
    font-size: 10px;
    color: $text-dark-3;
    opacity: 0;
  }

  &.first, &.alone {
    margin-top: 20px;
  }
  
  &.left {
    margin-right: 80px;

    .text {
      background-color: #fff;
    }

    &.first {
      .text {
        border-bottom-left-radius: $border-radius-small;
      }
    }

    &.middle {
      .text {
        border-top-left-radius: $border-radius-small;
        border-bottom-left-radius: $border-radius-small;
      }
    }
  
    &.last {
      .text {
        border-top-left-radius: $border-radius-small;
      }
    }
  }

  &.right {
    flex-flow: row-reverse;
    margin-left: 80px;

    .text {
      background-color: $app-green;
      color: $text-light;
    }

    &.first {
      .text {
        border-bottom-right-radius: $border-radius-small;
      }
    }

    &.middle {
      .text {
        border-top-right-radius: $border-radius-small;
        border-bottom-right-radius: $border-radius-small;
      }
    }
  
    &.last {
      .text {
        border-top-right-radius: $border-radius-small;
      }
    }
  }
}