@import '../../variables.scss';

.Message {
  display: flex;
  align-items: flex-end;
  padding-top: 10px;
  padding-right: 25px;
  padding-bottom: 10px;
  padding-left: 25px;
  width: 100%;

  &.left {
    .margin {
      margin-right: 60px;
    }

    .content {
      margin-left: 12px;

      .time {
        margin-left: 10px;
      }
    }
  }

  &.right {
    .margin {
      margin-left: 60px;
      flex: 1;
    }

    .content {
      margin-right: 12px;

      .time {
        margin-right: 10px;
        text-align: right;
      }
    }
  }

  .content {
    .text {
      display: flex;
      align-items: center;
      padding-top: 10px;
      padding-right: 15px;
      padding-bottom: 10px;
      padding-left: 15px;
      // min-height: 40px;
      background-color: #fff;
      border-radius: 20px;
      box-shadow: 0 0 14px rgba(0, 0, 0, 0.16);

      &.sent {
        background-color: $app-green;
        color: $text-light;
      }
    }

    .time {
      margin-bottom: 7px;
      font-size: 10px;
      color: $text-dark-3;
    }
  }
}