@import '../../variables.scss';

.Menu {
  display: flex;
  flex-direction: column;
  width: calc(0.8 * #{$col-size});
  height: 100%;
  background-color: $default-color;

  &.yellow {
    background-color: $yellow;
  }
  
  &.green {
    background-color: $green;
  }

  &.red {
    background-color: $red;
  }

  &.blue {
    background-color: $blue;
  }

  .space {
    flex: 1;
  }

  .menu-item {
    transition: background-color 300ms;

    &.active {
      background-color: $active-color;
    }

    &:hover {
      cursor: pointer;
      background-color: $hover-color;

      &.active {
        background-color: $active-color;

        svg {
          color: $text-light;
        }
      }
      
      svg {
        color: #fff;
      }
    }

    svg {
      width: 100%;
      height: 100%;
      padding: 17px;
      color: $text-light;
      transition: color 500ms;
    }
  }
}