@import '../../variables.scss';

.Messages {
  position: relative;
  flex: 1;
  overflow: scroll;

  .separator {
    display: flex;
    align-items: center;
    margin-top: 20px;
    color: $text-dark-3;

    &::before, &::after {
      content: '';
      flex: 1;
      border-bottom: 1px solid $border-color;
    }

    &::before {
      margin-right: 10px;
    }

    &::after {
      margin-left: 10px;
    }
  }

  .gradient {
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 30px;
    background: linear-gradient(to bottom, rgba(247, 247, 247, 0), rgba(247, 247, 247, 1));
  }
}