@import '../../variables.scss';

.SearchOption {
  .Button {
    font-weight: normal;

    & > div {
      display: flex;
      align-items: center;

      svg {
        margin-right: 5px;
        width: 16px;
        height: 16px;
      }
    }

    &.delete {
      color: $text-dark-1;
    }
  }
}