@import '../../variables.scss';

.ChatListItem {
  padding: 7px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $border-color;
  cursor: pointer;
  transition: background-color 150ms;

  &.active {
    background-color: #E0E0E0;
  }

  .Avatar {
    margin: 10px;
  }

  .content {
    margin-right: 10px;
    overflow-x: hidden;
    white-space: nowrap;

    h4, p {
      display: flex;
      align-items: center;
      padding: 2px;
    }

    .text {
      width: 100%;
      overflow-x: hidden;
      text-overflow: ellipsis;
    }
  
    .time {
      font-size: 10px;
      color: $text-dark-3;
    }
  }
}