@import '../../variables.scss';

.ChatListItem {
  padding: 15px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $border-color;
  cursor: pointer;
  transition: background-color 150ms;

  &.active {
    background-color: #E0E0E0;
  }

  .Avatar {
    margin-right: 10px;
  }

  .content {
    margin-right: 10px;
    overflow-x: hidden;
    white-space: nowrap;

    .header {
      display: flex;
      align-items: center;

      h5 {
        margin-bottom: 0;
      }

      .OnlineSymbol {
        min-width: 7px;
      }
    }

    h5, p {
      align-items: center;
      padding: 2px;
      overflow-x: hidden;
      text-overflow: ellipsis;
    }
  
    .time {
      font-size: 10px;
      color: $text-dark-3;
    }
  }
}