@import '../../variables.scss';

.Main {
  width: calc(7.3 * #{$col-size});
  height: 100%;
  background-color: #F7F7F7;
  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color;
}