@import '../../variables.scss';

.typing {
  padding-top: 15px;
  padding-right: 25px;
  padding-left: 25px;
  text-align: right;
  color: $text-dark-2;
  font-style: italic;

  @keyframes blink {
    0% {
      opacity: .2;
    }
  
    20% {
      opacity: 1;
    }
  
    100% {
      opacity: .2;
    }
  }
  
  span {
    animation-name: blink;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
  }
  
  span:nth-child(2) {
    animation-delay: .2s;
  }
  
  span:nth-child(3) {
    animation-delay: .4s;
  }
}

.NewMessage {
  display: flex;
  align-items: flex-end;
  width: 100%;
  padding-top: 15px;
  padding-right: 25px;
  padding-bottom: 25px;
  padding-left: 25px;

  form {
    display: flex;
    align-items: flex-end;
    margin-left: 15px;
    padding: 15px;
    width: 100%;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.16);

    textarea {
      flex-grow: 100;
      resize: none;
      line-height: 15px;
      border: none;

      &:focus {
        outline: none;
      }
    }

    button {
      display: flex;
      align-items: center;
      margin-left: 12px;
      padding-top: 7px;
      padding-bottom: 7px;
      padding-right: 12px;
      padding-left: 12px;
      border-radius: 20px;
      background-color: $app-green;

      svg {
        margin-left: 5px;
        width: 14px;
        height: 14px;
      }
    }
  }
}