@import '../../variables.scss';

.Friend {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-left: 15px;
  cursor: pointer;

  flex: 1;
  display: flex;
  align-items: center;
  
  .content {
    flex: 1;
    margin-right: 10px;
    margin-left: 10px;
    overflow-x: hidden;
    white-space: nowrap;

    .name {
      display: flex;
      align-items: center;

      h5 {
        padding: 2px;
        margin-bottom: 0;
        overflow-x: hidden;
        text-overflow: ellipsis;
      }

      .OnlineSymbol {
        min-width: 7px;
      }
    }

    .username {
      padding: 2px;
      color: $text-dark-3;
      overflow-x: hidden;
      text-overflow: ellipsis;
    }
  }

  button {
    font-weight: normal;
    background-color: #ddd;
    color: $text-dark-1;
  }
}