@import '../../variables.scss';

.FriendRequests {
  padding: 15px;

  .toggle {
    display: flex;

    .received, .sent {
      padding: 12px;
      width: 50%;
      background-color: #fff;
      opacity: 0.9;
      text-align: center;
      cursor: pointer;

      &.selected {
        border-bottom: 2px solid $text-dark-2;
      }
    }
  }

  .request {
    display: flex;
    align-items: center;
    margin-top: 15px;

    .content {
      flex: 1;
      margin-right: 10px;
      margin-left: 10px;

      h5 {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .username {
        color: $text-dark-3;
      }
    }

    button {
      font-weight: normal;
      &.confirm {
        background-color: $success;
      }
      &.delete {
        margin-left: 5px;
        background-color: #ddd;
        color: $text-dark-1;
      }
    }
  }

  .no-requests {
    margin-top: 15px;
  }
}