@import '../../variables.scss';

.ChatHeader {
  padding: 10px;
  background-color: #fff;
  border-bottom: 1px solid $border-color;

  h2 {
    display: flex;
    align-items: center;

    span {
      display: inline-block;
      margin-right: 10px;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background-color: rgb(28, 177, 105);
    }
  }
}