@import '../../variables.scss';

.ChatHeader {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  border-bottom: 1px solid $border-color;

  h2 {
    flex: 1;
    display: flex;
    align-items: center;
  }

  svg {
    margin-right: 15px;
    cursor: pointer;
    transition: color 150ms;

    &:hover {
      color: $text-dark-1;
    }
  }
}