@import '../../variables.scss';

.Login {
  position: relative;
  margin: auto auto;
  padding: 15px;
  width: calc(3.9 * #{$col-size});

  .account-created {
    display: none;
    position: absolute;
    top: -10px;
    color: $app-green;

    &.display {
      display: block;
    }
  }

  p {
    margin-top: 15px;
    text-align: right;
    color: $text-dark-3;

    span {
      color: $link-color;
      cursor: pointer;
    }
  }
}