@import '../../variables.scss';

.ColorPicker{
  .color-picker {
    display: flex;
    padding: 8px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid $border-color;
    cursor: pointer;
  
    &.open {
      box-shadow: 0 0 5px $blue;

      &.shadow-yellow {
        box-shadow: 0 0 5px $yellow;
      }
      
      &.shadow-green {
        box-shadow: 0 0 5px $green;
      }
      
      &.shadow-red {
        box-shadow: 0 0 5px $red;
      }
      
      &.shadow-blue {
        box-shadow: 0 0 5px $blue;
      }
      
      &.shadow-orange {
        box-shadow: 0 0 5px $orange;
      }
      
      &.shadow-wine {
        box-shadow: 0 0 5px $wine;
      }
      
      &.shadow-purple {
        box-shadow: 0 0 5px $purple;
      }
    }
  
    .color {
      flex: 1;
      height: 15px;
    }
  
    svg {
      margin-left: 8px;
      width: 15px;
      height: 15px;
    }
  }
  
  .color-list-relative {
    position: relative;
    margin-bottom: 15px;
  
    .color-list {
      position: absolute;
      top: 0;
      width: 100%;
      background-color: #fff;
      border: 1px solid $border-color;
      max-height: 230px;
      overflow-y: scroll;
      box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
  
      .color {
        margin: 15px;
        height: 25px;
        border: 1px solid #ccc;
        cursor: pointer;
      }
    }
  }
}